<p><a href="<%= new_post_url %>">Create a Post</a></p>

<h1>All of the posts that belong to this sub</h1>



<% @sub.posts.each do |post| %>
    <ul>
        <li>
            <a href="<%= post_url(post) %>"><%= post.title%></a>
        </li>
    </ul>
<% end %>